<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="assets/js/jquery.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="assets/css/bootstrap.css">
  <script src="assets/js/bootstrap.js" crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.js" crossorigin="anonymous"></script>

  <title>Document</title>
</head>

<body>
  <!--
    <h3 class="text-center">hello there</h3>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-0 col-md-4"></div>
            <div class="col-sm-12 col-md-4">
                <form  action="/register" method="POST">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Username</label>
    <input type="email" class="form-control" name="username"  aria-describedby="emailHelp" placeholder="Enter username">
    <small id="emailHelp" class="form-text text-muted">set a unique username</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  <a href="/register_successful" class="btn btn-primary">click to register</a>
</form>
            </div>
            <div class="col-sm-0 col-md-4"></div>
        </div>
    
</div>
-->
 
  <div class="container-fluid">
    <h3 class="text-center">Todos APP</h3>
    <br>
    <h2 class="text-center" style="background-color:rgb(184, 184, 192)">ADD NEW USER</h2>


    <div class="row">
      <div class="col-sm-0 col-md-4"></div>
      <div class="col-sm-12 col-md-4">
        <div class="row p-3 m-3">
          <form method="POST" action="/register">
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Enter email">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Retype your password</label>
              <input type="password" name="retypepassword" class="form-control" id="exampleInputPassword1" placeholder="retype your Password">
              <p class="text-center" id="message" style="color:red">{{obj.msg}} </p>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-lg btn-success"  style="width:250px">Submit</button>
              <br>
            </div>
            <br>
            
          </form>
        </div>
      </div>
      <div class="col-sm-0 col-md-4"></div>
    </div>
    
  </div>

</body>


</html>