<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <script src="assets/js/jquery.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="assets/css/bootstrap.css">
  <script src="assets/js/bootstrap.js" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.js"  crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
      <div class="container-fluid">  <br><br>
      <h3 class="text-center">Todos app</h3>  <br><br>
          <div class="row" style="background-color:greenyellow"></div>
          <div class="row">
              <div class="sol-sm-0 col-md-4"></div>
              <div class="sol-sm-0 col-md-4 text-center">
                  <img src="/images/1.gif" alt="" style="border-radius:50%">
                  <h4 class="text-center">congrats u are registered with us</h4> <br>
                  <form action="/" method="get">
                  <button class="btn btn-success">click here for login page</button>
                  </form>
              </div>
              <div class="sol-sm-0 col-md-4"></div>
          </div>
      </div>
</body>
</html>