<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="assets/js/jquery.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="assets/css/bootstrap.css">
    <script src="assets/js/bootstrap.js" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>

<body>   
    <br>
    <div class="container-fluid" style="background-color:rgb(41, 163, 219)">
       <img src="download.png" style="display:block;width:50px;height:50px;margin-left:20px margin-bottom:100px;" alt="">
    </div>
    <br>
    <div class="container-fluid " style="width:700px;">
        <ul class="nav nav-tabs">
            <li class="nav-item" id="tab-view">
                <a class="nav-link active"  >Todos</a>
            </li>
            <li class="nav-item" id="tab-add">
                <a class="nav-link" >add</a>
            </li>
            <li class="nav-item" id="tab-delete">
                <a class="nav-link">delete todos</a>
            </li>
            <li class="nav-item" id="tab-deleted">
                <a class="nav-link disabled" >Disabled</a>
            </li>
            <li class="nav-item" style="margin-left:200px;">
                <a class="nav-link " href="/"><img src="./images/logout.png" alt="" style="width:30px;height:30px;"></a>
            </li>
        </ul>
        <br><br>
        <div class="container contents" id="container-view">
          <ul class="list-group"></ul>
        {{#each data as |todo|}}
        <li class="list-group-item">{{todo.TODOS}}</li>
        {{/each}}
        </ul>
        </div>

        <div class="container contents text-center" id="container-add" style="display:none;">
            <div class="row">
                <form action="/abc?table=pass2" method="post" >
                <textarea name="data" id="" placeholder="Enter your todo here " cols="100" rows="7"></textarea>
                <br>
                <button class="btn btn-lg btn-success m-3" style="width:250px">add todo</button>
              </form>
            </div>
        </div>  

        <div class="container contents" id="container-delete" style="display:none"> 
              <ul class="list-group"></ul>
              {{#each data as |todo|}}
              <li class="list-group-item">
                  <input type="checkbox">
                  {{todo.TODOS}}</li>
               {{/each}}
              </ul>
              <div class="text-center m-3">
              <button class="btn btn-danger text-center" style="width:250px;">delete</button>
             </div>         
        </div>

        <div class="container contents" id="container-deleted"></div>
        <div class="container contents" id="container-modify"></div>

        
      

        
        
        

    </div>
</body>
<script src="./myscript/script1.js"></script>
</html>